/*-- Body Rest --*/
body {
    overflow: hidden ;
    font-family : 'Montserrat' sans-serif ;
    color: #e7ebee;
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

/*-- Navigation--*/

.navbar-brand img {
    height: 3rem;
}

.navbar {

    font-size: 1rem;
    font-weight:600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.nav-item {
    padding: .5 rem;
}

.nav-link {
    color: antiquewhite !important;
}

.nav-link.active,
.nav-link:hover {
    color:black !important
}

/*-- Vedio --*/
.embed-responsive {
    width: 450px;
    height: 350px;
}

.embed-responsive-item {
    padding-top: 2rem;

}

#firstSec img {
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
}

#firstSec {
    padding-bottom: 20px;
}

.dot {
    font-size: 8px;
    color: black;
}

#secSec img {
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
}

#secSec {
    padding-bottom: 20px;
}

#thirdSec {
    padding-bottom: 20px;
}

#thirdSec img {
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
}