
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../build/css/bootstrap.min.css">
    <link rel="stylesheet" href="../build/css/all.min.css">
    <link rel="stylesheet" href="../build/css/style.css">
    <title>Fyonka</title> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fyonka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                
               
            </ul>
        </div>
    </nav>
    <div class="container-fluid m-auto">
        <div class="col-lg-6  m-auto p-5">
            <h3>About</h3>
            <img class="col-lg-8 col-md-6" src="../build/images/Downloa.jpg" alt="">
            <p class="ml-3">
                Download RAP fact sheet
            </p>
        </div>
        <div class="col-lg-6  m-auto p-5">
            <h3>What is RAP?</h3>
            <p>The Rangeland Analysis Platform (RAP) is an interactive web application designed to assist in managing and monitoring America’s valuable rangelands. This free tool was developed for landowners, managers, and conservationists to quickly and
                easily access information that can guide land use decisions.</p>
        </div>
        <div class="col-lg-6 m-auto p-5">
            <h3>Why is it useful?</h3>
            <p>The vast grazing lands that span the western states are irreplaceable assets that produce food, support rural economies, generate recreation revenues, and sustain wildlife. The RAP is an innovative new way to monitor the natural resources
                that comprise these working rangelands, which will help landowners and managers to keep them profitable and productive for future generations.</p>
        </div>
        <div class="col-lg-6 m-auto p-5">
            <h3>How can it be used?</h3>
            <p>The RAP is designed to be used alongside local knowledge and on-the-ground data to plan management actions that improve rangelands and wildlife habitat. Data provided through the RAP will include forage productivity, vegetation cover, riparian
                condition and sensitivity, climate and drought monitoring, and more.</p>
            <p>Its datasets allow users to monitor trends and changes at the pasture, landscape, or regional scales from 1984 to present. That’s nearly 40 years of detailed data available as fast as you can click your mouse!</p>
        </div>
        <div class="col-lg-6 m-auto p-5">
            <h3>Why is it innovative?</h3>
            <p>The RAP provides the ability to monitor rangelands across time and space. By combining the latest remote-sensing technology with massive satellite imagery archives, the RAP is the first-ever all-encompassing view of millions of acres of rangelands.</p>
        </div>
        <div class="col-lg-6 m-auto p-5">
            <h3>Who developed it?Permalink</h3>
            <p>The RAP was created in collaboration with the USDA’s Natural Resources Conservation Service, the DOI’s Bureau of Land Management, and the University of Montana. The application was developed by Jeremy Malczyk of Plutonic.</p>
        </div>
    </div>


    <!-- <script src="../build/js/jquery-3.5.1.min.js"></script>
    <script src="../build/js/popper.min.js"></script>
    <script src="../build/js/bootstrap.min.js " </script></script> -->
</body>

</html>